.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    padding: 0 20px;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
}
.a:hover {
    color: #ffffff;
    text-decoration: none;
}
.a:link {
    color: #ffffff;
    text-decoration: none;
}
.a:visited {
    color: #ffffff;
    text-decoration: none;
}
.a:active {
    color: #ffffff;
    text-decoration: none;
}